{% extends 'base.html.twig' %}

{% block title 'All Conferences' %}

{% block body %}
<section id="list-conferences">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="d-flex justify-content-between">
                    <h1 class="fw-bolder" style="color: limegreen;">List all conferences</h1>
                    <div class="d-inline-flex align-content-bottom">
                        <div class="dropdown">
                            <button class="btn btn-sm fw-semibold dropdown-toggle" style="border: 1px solid limegreen; color: limegreen;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Match me!
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('app_conference_match', {strategy: 'tag'}) }}">By Interests</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_conference_match', {strategy: 'skill'}) }}">By Skills</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_conference_match', {strategy: 'location'}) }}">By Location</a></li>
                            </ul>
                        </div>
                        <a href="{{ path('app_conference_new') }}">
                            <button type="button" class="btn btn-sm fw-semibold" style="border: 1px solid limegreen; color: limegreen;">New conference</button>
                        </a>
                    <form action="{{ path('app_conference_search') }}" method="get">
                        <div class="input-group">
                            <input type="text" name="name" id="name" class="form-control form-control-sm" placeholder="Search an conference by name">
                            <button type="submit" class="btn btn-sm fw-semibold" style="border: 1px solid limegreen; color: limegreen;">Search</button>
                            <label for="name" class="visually-hidden">Conference name</label>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
                    {% for conference in conferences %}
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h5 class="fw-bolder mb-0">
                                            <a href="{{ path('app_conference_show', {id: conference.id}) }}"
                                               class="stretched-link text-decoration-none"
                                               style="color: limegreen;">{{ conference.name }}</a>
                                        </h5>
                                    </div>
                                    <div class="card-text d-flex justify-content-between">
                                        <div>
                                            {% if conference.organizations is not empty %}
                                                <p class="my-0">{{ conference.organizations|map(o => o.name)|join(', ') }}</p>
                                            {% endif %}
                                        </div>
                                        <div>
                                            <p class="mb-0">From <span
                                                        class="fw-semibold">{{ conference.startAt|date('d/m/y') }}</span>
                                                to
                                                <span class="fw-semibold">{{ conference.endAt|date('d/m/y') }}</span></p>
                                            <p class="my-0 fst-italic">{{ conference.volunteerings.count }} volunteers
                                                yet.</p>
                                            <p class="mt-0">Accessible
                                                : {{ conference.accessible ? '<span style="color: limegreen;">Yes</span>' : '<span style="color: red;">No</span>' }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div> There are no conferences yet...</div>
                    {% endfor %}
                </div>
                {% if app.request.query.get('name') is not null %}
                    <div class="row row-cols-1 g-4 mb-5">
                        <a href="{{ path('app_conference_list') }}">
                            <button class="btn btn-sm" style="border: 1px solid limegreen; color: limegreen;" type="button">Empty Search</button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
